<div
  class="content w-75 block border border-solid border-[#eee] shadow-boxShadow ml-auto mr-auto mt-5 mb-5 rounded-4 py-4 px-4">
  <h3 class="mb-5 !text-[33px] text-center">Preview Blogs</h3>
  <div class="card mb-3">
    <img src="{{blogDetail?.image}}" onerror="this.src = '/assets/images/img_default.svg'" class="card-img-top"
      alt="...">
    <div class="card-body">
      <h5 class="card-title">{{blogDetail.title}}</h5>
      <p class="card-text">{{blogDetail.content}}</p>
      <p class="card-text"><small class="text-body-secondary">Last updated {{blogDetail.updated_at}}</small></p>
      <a routerLink="/home" class="btn btn-primary">Back</a>

    </div>
  </div>
</div>