<div class="wrap-modal">
  <!-- Modal content -->
  <div class="model_header bg-primary">
    <img *ngIf="alert?.icon" [src]="alert.icon" alt="" (click)="close()" />
  </div>
  <div class="modal-content">
    <div class="modal-body">
      <h3 [ngStyle]="{ 'margin-bottom': alert.message ? '1.6rem' : '3rem' }" class="text-center pt-8">
        {{ alert.title }}
      </h3>
      <p *ngIf="!alert?.arrayMessage">{{ alert.message }}</p>
      <div *ngIf="alert?.arrayMessage">
        <p *ngFor="let item of alert?.arrayMessage">{{ item }}</p>
      </div>
      <div class="form" *ngIf="show_input">
        <input (keyup)="key(text.value)" #text type="text" />
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary hover border-radius-large" *ngIf="alert.mode === CrudType.CLOSE" (click)="close()">
        {{ alert.textBtnError || 'Close' }}
      </button>
      <button class="btn btn-secondary border-radius-large" *ngIf="alert.mode === CrudType.CONFIRM" (click)="close()">
        {{ 'Cancel' }}
      </button>
      <button class="btn btn-primary hover border-radius-large"
        *ngIf="alert.mode === CrudType.SAVE || alert.mode === CrudType.CONFIRM" (click)="save()">
        {{ alert.textBtnConfirm || 'Save' }}
      </button>
      <button class="btn btn-primary hover border-radius-large" *ngIf="alert.mode === CrudType.SUCCESS"
        (click)="success()">
        {{ alert.textBtnSuccess || 'OK' }}
      </button>
    </div>
  </div>
</div>