<!-- eslint-disable prettier/prettier -->
<div
  class="w-75 block border border-solid border-[#eee] shadow-boxShadow ml-auto mr-auto mt-5 mb-5 rounded-4 py-4 px-4">
  <h3 class="d-block mb-5 text-center">List Blogs</h3>
  <div class="input-group mb-5">
    <input type="text" class="form-control" placeholder="Search this blog" [(ngModel)]="queryparam.searchText">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <ul class="list-unstyled">
    <li class="media cursor-pointer my-3"
      *ngFor="let blog of listBlog | paginate: { itemsPerPage: limit, currentPage: p } | filter:queryparam.searchText">
      <img (click)="navigateDetail(blog)" [ngStyle]="{'width': '67px'}" src="{{blog.image}}" class="mr-3" alt="..."
        onerror="this.src = '/assets/images/img_default.png'" />
      <div class="media-body">
        <h5 class="mt-0 mb-1">{{blog.title}}</h5>
        {{blog.content}}
      </div>
      <div class="" role="button" style="width: 20px; height: 20px;" (click)="navigateEdit(blog)">
        <i class="bi bi-pencil-square"></i>
      </div>
    </li>
  </ul>
  <div class="d-flex justify-content-center mt-5">
    <pagination-controls *ngIf="listBlog.length > limit" (pageChange)="p = $event"></pagination-controls>
  </div>
  <button class="mt-5 ml-auto mr-auto d-block rounded-2 py-2 px-5 bg-primary text-white" style="font-size: 17px;"
    (click)="createBlog()">CreateBlog</button>
</div>